* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.leftBox {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  background-color: #1D1D1DA8;
}

.leftBox .iconBox {
  height: 50%;
}

.leftBox .iconBox .row {
  height: 2.8rem;
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.leftBox .iconBox .row i {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.leftSongBox {
  margin-bottom: 1rem;
}

.range-bar {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.range-bar .rangeBar {
  width: 100%;
  height: 3px;
  appearance: none;
  background: #777777;
}

.range-bar input[type="range"]::-webkit-slider-thumb {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  appearance: none;
  position: relative;
}

.audioElement {
  display: none;
}

.range-bar .progress {
  position: absolute;
  height: 2px;
  background-color: white;
}

.leftSongBox .upRow {
  display: flex;
}

.leftSongBox .upRow .infoBox {
  margin-left: 1rem;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.5rem;
}

.leftSongBox .upRow img {
  height: 4rem;
  width: 4rem;
}

.leftSongBox .downRow {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;

}

.leftSongBox .downRow i {
  font-size: 1.8rem;
}

.leftSongBox .downRow .superBtn {
  font-size: 2rem;
}

.rightBox {
  width: 75%;
  height: 100%;
}

.homePage {
  height: 100%;
  width: 100%;
  padding: 1rem;
  flex-direction: column;
}

.homePage nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.homePage nav .navBtn {
  font-size: 0.9rem;
  padding: 0.5rem 0.9rem;
  border-radius: 1rem;
  background-color: #333333;
}

.scrollArea {
  overflow-x: scroll;
  height: 80vh;
  margin-top: 1.5rem;
}

.playlistCon {
  height: 8rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
}

.playlistCon .playlistBox {
  height: 45%;
  background-color: #2D2D2DA8;
  display: flex;
  padding: 0.2rem 0;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.playlistCon .playlistBox .songName {
  width: 80%;
  height: 3rem;
  font-size: 0.9rem;
  padding: 2px 5px;
  width: 80%;
}

.playlistCon .playlistBox img {
  height: 100%;
  width: 3.5rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.horizontalScroll {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.horizontalScroll .hzScrollBox {
  height: 16rem;
  width: 15rem;
  margin-right: 2rem;
}

.horizontalScroll .hzScrollBox img {
  max-width: 15rem;
  max-height: 14rem;
  border-radius: 5px;
}

.songPage {
  flex-direction: column;
  display: none;
  height: 100%;
  width: 100%;
}

.songPage .topBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  padding-bottom: 1rem;
  background: linear-gradient(to bottom, #6200BC, #B667FF, #534C59);
}

.songPage .topBox img {
  width: 13rem;
  height: 13rem;
}

.dotted {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.songBoxCon {
  background: linear-gradient(to bottom, #363437, #000000);
  height: 20rem;
  width: 100%;
}

.songScrollCon {
  overflow: scroll;
  height: 90%;
}

.songPageNav {
  height: 10%;
  background: #6200BC;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 1rem;
  margin-right: 2rem;
}

.songPageBackBtn {
  padding-top: 0.5rem;
  height: 2rem;
  width: 2rem;
}

.songPageNav span {
  margin-left: 2rem;
}

.songBoxCon {
  padding: 1rem;
}

.songBoxCon .songBox {
  height: 4rem;
  width: 100%;
  display: flex;
  margin: 1rem 0;
}

.songBoxCon .songBox .songInfo {
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 1rem;
}

.songBoxCon .songBox .songInfo .singerName {
  font-size: 0.9rem;
  color: #D0D0D0;
}

.songBoxCon .songBox img {
  height: 100%;
  border-radius: 10px;
}

.songScrollCon .topBox .songInfoCon h1 {
  margin-top: 1rem;
  margin-bottom: 0;
}

.homePage nav .sIcon {
  font-size: 1.1rem;
  padding: 0.3rem 0.7rem;
  background: deepskyblue;
}

.songScrollCon .topBox .songInfoCon p {
  font-size: 0.9rem;
  color: #CECDCE;
}

.songBoxCon .songBox {
  display: flex;
  align-items: center;
}

.playlistCon .playlistBox {
  width: 45%;
}

.midBox {
  height: 100%;
}

/* footer styling */
.upFooter {
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  display: none;
  background-color: #9F4503;
  border-radius: 8px;
}

.upFooter img {
  height: 3rem;
  width: 3rem;
  border-radius: 5px;
}

.upFooter .upFooterInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-left: 1rem;
}

.upFooter .upFooterInfo .upFooterTitle {
  font-size: 0.8rem;
}

.upFooter .upFooterInfo .upFooterArtist {
  font-size: 0.7rem;
  color: #B5B5B5;
}

.footer {
  display: none;
  justify-content: space-between;
  padding: 1rem;
  background: linear-gradient(to top, #000000, #111110);
  height: 10%;
  width: 100%;
}

.footer .column {
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .column i {
  font-size: 1.4rem;
  text-shadow: 4px 4px 10px black;
}

.footer .column p {
  font-size: 0.7rem;
  margin-top: 5px;
  text-shadow: 4px 4px 10px black;
}

.phoneSongPage {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #6200BC, #B667FF, #534C59);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phoneSongPage .row {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.phoneMidBox {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.phoneSongPage .phoneMidBox .imgBox {
  height: 50%;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.phoneSongPage .imgBox img {
  height: 100%;
  width: auto;
}

.phoneSongPage .bottomCon {
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.phoneSongPage .bottomCon .info {
  margin-bottom: 2rem;
}

.phoneSongPage .bottomCon .info .songNamePara {
  font-size: 1rem;
  width: 100%;
}

.phoneSongPage .bottomCon .info .artistNamePara {
  width: 100%;
  font-size: 0.9rem;
  color: #BBBBBB;
}

.phoneSongPage .bottomCon .rangeBar {
  height: 0.3rem;
  border-radius: 5px;
}

.phoneSongPage .bottomCon .progress {
  height: 0.3rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: white;
}

.phoneSongPage .range-bar input[type="range"]::-webkit-slider-thumb {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.phoneSongPage .bottomCon .timeBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.phoneSongPage .bottomCon .downRow {
  width: 100%;
  display: flex;
  justify-content: center;
}

.phoneSongPage .bottomCon .downRow .iconBox {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phoneSongPage .bottomCon .downRow i {
  font-size: 2rem;
}

.phoneSongPage .bottomCon .downRow .plBtn {
  font-size: 2.8rem;
}

.horizontalScroll {
  margin-bottom: 1rem;
}


@media (max-width: 600px) {
  .rightBox {
    height: 100vh;
    width: 100vw;
  }

  .leftBox {
    display: none;
  }

  .homePage nav {
    width: 70%;
  }

  .homePage nav .navBtn {
    font-size: 0.6rem;
    padding: 0.25rem 0.6rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
  }

  .homePage nav .sIcon {
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
  }

  .playlistCon {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .playlistCon .playlistBox {
    width: 45%;
    margin-right: 0.5rem;
    height: 3rem;
  }

  .playlistCon .playlistBox .songName {
    height: 100%;
    font-size: 1rem;
    font-size: 0.9rem;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  .playlistCon .playlistBox img {
    height: 3rem;
    width: 3rem;
  }

  .horizontalScroll .hzScrollBox {
    height: 12rem;
    width: 10rem;
    margin-right: 2rem;
  }

  .horizontalScroll .hzScrollBox img {
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
  }

  .songPage .songPageNav {
    height: 2.5rem;
  }

  .songPage .songPageNav span {
    font-size: 1rem;
    margin-left: 1rem;
  }

  .songPage .songScrollCon .topBox img {
    height: 10rem;
    width: 10rem;
  }

  .songScrollCon .topBox .songInfoCon h1 {
    font-size: 1.2rem;
  }

  .songScrollCon .topBox .songInfoCon p {
    font-size: 0.7rem;
  }

  .songBoxCon .songBox img {
    height: 3rem;
    width: 3rem;
    border-radius: 3px;
  }

  .songBoxCon .songBox .aboutSong {
    width: 100%;
  }

  .songBoxCon .songBox .songInfo {
    width: 100%;
    overflow: hidden;
  }

  .songBoxCon .songBox .songInfo .songTitle {
    font-size: 0.9rem;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .songBoxCon .songBox .songInfo .singerName {
    font-size: 0.7rem;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .homePage {
    padding-bottom: 0;
  }
}

@media (max-width: 700px) {
  .rightBox {
    height: 100vh;
    width: 100vw;
  }

  .leftBox {
    display: none;
  }

  .homePage nav .navBtn {
    font-size: 0.8rem;
    padding: 0.3rem 0.7rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }

  .homePage nav .sIcon {
    font-size: 1rem;
  }

  .playlistCon {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .playlistCon .playlistBox {
    width: 45%;
    margin-right: 0.5rem;
    height: 3rem;
  }

  .playlistCon .playlistBox .songName {
    height: 100%;
    font-size: 1rem;
    font-size: 0.9rem;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  .playlistCon .playlistBox img {
    height: 3rem;
    width: 3rem;
  }

  .horizontalScroll .hzScrollBox {
    height: 12rem;
    width: 10rem;
    margin-right: 2rem;
  }

  .horizontalScroll .hzScrollBox img {
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
  }

  .songPage .songPageNav span {
    font-size: 1.1rem;
    margin-left: 1rem;
  }

  .songScrollCon .topBox .songInfoCon h1 {
    font-size: 1.3rem;
  }

  .songScrollCon .topBox .songInfoCon p {
    font-size: 0.8rem;
  }

  .songBoxCon .songBox img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 5px;
  }

  .songBoxCon .songBox .songInfo .songTitle {
    font-size: 1rem;
    width: 98%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .songBoxCon .songBox .songInfo .singerName {
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .homePage nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .footer {
    display: flex;
  }

  .upFooter {
    display: flex;
  }

  .upFooterShow {
    display: flex;
  }

  .scrollArea {
    height: 90%;
  }

  .midBox {
    height: 80%;
  }
}

.rightBox {
  height: 100%;
  /* height: 600px; */
  /* width: 350px; */
  position: relative;
}

.homePage,
.songPage,
.footerCon {
  /* display: none; */
}

.phoneSongPage {
  display: none;
}
